body {
  font-family: Roboto;
  color: var(--body-text-color)
}

  :root {
    --light-brand-color: #4D5AE5;
    --dark-brand-color:#2E2F42;
    --body-text-color:#434455;
    --main-background: #ffffff;
    --secondary-background:#F4F4FD; 
    --light-accent: #E7E9FC;
    --pressed-state-color: #404BBF;
  }

  .logo {font-family: Raleway;
  font-weight: 800px;
font-size: 18px;
line-height: 1.17;
text-decoration: none;
color: var(--dark-brand-color);}

span {color: var(--light-brand-color);}

.logo-footer{font-family:Raleway; font-weight: 800px;
  font-size: 18px;
  line-height: 1.17;
  color: var(--secondary-background);
  text-decoration: none; 
  letter-spacing:0.03em;}
  .menu a{text-decoration: none;
  color: var(--dark-brand-color);}

  .menu-list {list-style: none;
  font-weight: 500px;}

  .menu-list a:hover{color:var(--light-brand-color);}

.address-list a {list-style: none; text-decoration: none;
color:var(--body-text-color); }

.address-list a:hover{color: var(--light-brand-color);}

  .hero-baner {background-color: var(--dark-brand-color);
    color: var(--main-background);
    width: 1440px;
    height: 600px;
    }
    .baner-heading {font-size:56px;
    font-weight: 700;
  line-height: 1.07;}
  .baner-button {background-color: var(--light-brand-color); 
    color: #ffffff;
   cursor: pointer;
  font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5; }

  .our-service {visibility: hidden;}
  .service-descritpion-list h3 {color: var(--dark-brand-color); font-size:20px; line-height: 1.2; letter-spacing: 0.02em;
  }
  .service-descritpion-list p {color: var(--body-text-color); font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;
  }

  .team-memebers-list li {list-style: none;}
  .team-member-name {color: var(--dark-brand-color) font-weight:500; font-size: 20px; line-height: 1.2; letter-spacing:0.02em;}
  .team-member-role {color: var(--body-text-color); font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}
  
footer {background-color: var(--dark-brand-color);
width: 1440px;
height: 312px;}
.footer-text {color: var(--secondary-background); font-size: 16px;
line-height: 1.5; letter-spacing: 0.02em;}

.portfolio-filters li {list-style: none; text-decoration: none;
}
button {color: var(--light-brand-color); background-color: var(--secondary-background);border-radius: 4px; border: color: var(--light-accent);}

button:hover, button:focus {color: var(--main-background); background-color:  var(--pressed-state-color); cursor: pointer;}



.projects-list {list-style: none;}
.project-title-headline {color: var(--dark-brand-color); font-size: 20px; font-weight: 500; line-height: 1.2; letter-spacing: 0.02em;}
.project-category {color: var(--body-text-color); font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}


